.place__title {
    border: 1px solid rgb(164, 146, 204);
  font-weight: bold;
  font-size: 72px;
  line-height: 1.1;
    align-self: end;
  padding: 0;
  margin: 0;

}

@media screen and (max-width: 320px) {
  .place__title {
    font-weight: bold;
    font-size: 32px;
    margin: 0 16px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}