@font-face {
  font-family: 'Inter';
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2);
  font-weight: bold;
}

.page {
  box-sizing: border-box;
  background-color: #2A2C2F;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialized;
}
