@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Regular.woff') format('woff'),
    url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Bold.woff') format('woff'),
    url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.page {
  box-sizing: border-box;
  background-color: #2A2C2F;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}
