.places {
  margin: -80px auto 0;
  box-sizing: border-box;
  border: 1px solid rgb(80, 59, 127);
}
 
@media screen and (max-width: 768px) {
  .places {
    max-width: 768px;
    padding: 88px 24px 0;
  }
} 

@media screen and (max-width: 320px) {
  .places {
    width: 320px;
  }
}