.places {
  max-width: calc(1280px - 296px);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px 48px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    padding-left: 0;
    padding-right: 0;
  }
}
