.places {
  width: calc(100% - 296px);
  margin: -80px auto 0;
  box-sizing: border-box;
  border: 1px solid rgb(80, 59, 127);
}

/* @media screen and (min-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
} */
/* 
@media screen and (max-width: 768px) {
  .places {
    width: 768px;
  }
} */

@media screen and (max-width: 320px) {
  .places {
    width: 320px;
  }
}