.lead {
  text-align: center;
  margin: auto;
  box-sizing: border-box;

      border: 1px solid rgb(80, 59, 127);
}





@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}

