.footer__copyright {
  margin: 0;
  padding-left: 16px;
  color: white;
  font-size: 14px;
  line-height: 1.1;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    line-height: 1;
    padding-left: 16px;
  }
}

