.lead__image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .lead__image {
    padding: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    padding: 0 148px;
  }
}