.lead__image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    max-width: 984px;
    padding-left: 0;
    padding-right: 0;
  }
}