.intro {
  margin: auto;
  padding-top: 92px;
  border: 1px solid rgb(80, 59, 127);
  box-sizing: border-box;
}

/* @media screen and (min-width: 1440px) {
  .intro {
    width: calc(100% - 296px);
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}
*/
/* 
@media screen and (max-width: 768px) {
  .intro {
    width: 768px;
    padding-top: 88px;
  }
} */

@media screen and (max-width: 320px) {
  .intro {
    width: 320px;
    padding-top: 64px;
  }
}