.intro {
  max-width: calc(1280px - 296px);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 88px 0 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 0;
  }
}
