.intro {
  max-width: calc(1280px - 296px);
  margin: auto;
  box-sizing: border-box;
  padding: 88px 48px 0;
}

@media screen and (min-width: 1280px) {
  .intro {
        padding-left: 0;
        padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 88px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 0;
  }
}
