.cover {
  min-height: 740px;
  background-image: url("../../images/cover-trains.jpg");
  box-sizing: border-box;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 66px 0 48px;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover:hover::before {
  background-color: rgba(42, 44, 47, .8);
  transition: background-color .2s linear;
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    min-height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    max-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
  }
}