.cover__overlay {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

/* .cover__overlay:hover {
  background-color: rgba(42, 44, 47, .5);
  transition: background-color .2s linear;
} */