.place {
  padding-top: 92px;
  display: grid;
  gap: 40px;
  color: white;
  grid-template-columns: fit-content(440px) auto;
  gap: 32px;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: fit-content(460px) auto;
    gap: 40px;
  }
}

 @media screen and (max-width: 760px) {
   .place {
     grid-template-columns: fit-content(768px);
     gap: 28px;
   }
 }