.footer {
  max-width: calc(1280px - 96px);
  display: flex;
  justify-content: space-between;
  margin: 64px auto 0;
  padding: 0 48px 24px;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}