.footer {
  max-width: calc(1280px - 96px);
  display: flex;
  justify-content: space-between;
  margin: 96px auto 0;
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .footer {
    width: 320px;
    display: block;
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
