.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  margin: 96px auto 0;
  padding-bottom: 24px;
  box-sizing: border-box;
}

/* @media screen and (min-width: 1440px) {
  .footer {
    width: calc(100% - 296px);
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}
*/

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100% - 32px);
    display: block;
    margin-top: 0;
    padding-bottom: 0;
  }
}